---
 const personalImageAlt = "Sebastián Rengifo Hidalgo";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-900 dark:text-gray-100 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Sebastián Rengifo Hidalgo. Soy ingeniero de sistemas interesado en el <strong>desarrollo web, tanto en frontend como en backend</strong>.
    </p>

    <p>
      Durante mi formación académica, realicé proyectos de desarrollo de software y aplicaciones web, utilizando tecnologías como <strong>HTML, CSS, JavaScript, React, Node.js, Express, MongoDB, MySQL, Git, GitHub, entre otras</strong>.
    </p>

    <p>
      Mi objetivo es 
      <strong>aprender y mejorar mis habilidades en el desarrollo web</strong>, para poder aportar soluciones tecnológicas a problemas reales y así contribuir al crecimiento de la industria de la tecnología.
    </p>
      
    </div>

    <img 
    width="200" 
    height="200" 
    src="/me.png" 
    alt="{personalImageAlt}" 
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-gray-100 dark:bg-gray-900 ring-1 ring-gray-700 dark:ring-gray-300"
    style="object-position: 50% 50%">
  
</article>