<div class="flex items-center ">
<span class="relative inline-flex overflow-hidden rounded-full p-[1.3px]">
  <span
    class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#a5b4fc_0%,#6366f1_50%,#a5b4fc_100%)]"
  ></span>
  <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-gray-900 bg-gray-100 rounded-full cursor-pointer dark:bg-gray-900 dark:text-gray-100 backdrop-blur-3xl whitespace-nowrap">
    <slot />
  </div>
</span>
</div>