---
const { href } = Astro.props
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-gray-100 transition bg-gray-900 border border-gray-300 focus-visible:ring-blue-600/80 text-md hover:bg-gray-800 hover:border-gray-700 group max-w-fit rounded-xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-gray-900"
>
  <slot />
</a>
